# Eclipse stuff
/.classpath
/.project
/.settings
/.vscode

# Intellij
.idea
*.iml

#dependencies
/deps

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
/.DS_Store
/Dynmap-Towny.iml
